<!doctype html>
<html ng-app="myApp">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VIA</title>

	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{width:100%;height:50%;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=piCl9wFNZm9mvFqyG8j1e4Cp"></script>


        <script src="http://cdn.bootcss.com/angular.js/1.4.5/angular.js"></script>
                <script>AUTOBAHN_DEBUG = false;</script>
                <script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
                <script>
        /*
    function showNotification(content){
    var notification = new Notification( "WebSocket", { //data.name: 桌面通知标题
                        tag: "link", //标签
                        icon: '/media/h3cVote/linkcover.jpg', //图片
                        body: content //内容
                    });

                    notification.onclick = function() {
                        //alert("hello");
                    }
                    notification.onshow = function () {
                        //setTimeout(function () {notification.close();}, 10000);
                    }

        } */

	function display(lng, lat){
            // 百度地图API功能
            var map = new BMap.Map("allmap");    // 创建Map实例
			var ggPoint = new BMap.Point(lng,lat);
            //map.centerAndZoom(new BMap.Point(lng, lat), 22); 
			map.centerAndZoom(ggPoint, 22); 
			//初始化地图,设置中心点坐标和地图级别
            map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            }
			
    var app = angular.module('myApp', []);
    app.controller('MyController', 
		function($scope) { 
		
            $scope.person = { name: "Ari Lerner" }; 
            var globalSess;
            var wsuri;
            var t1, t2;

			if (document.location.origin == "file://") {
            wsuri = "ws://112.74.76.96:8088/ws";
			} else {
				//wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
				//            document.location.host + "/ws";
                        wsuri = "ws://112.74.76.96:8088/ws";
			}
                 
        var connection = new autobahn.Connection({
            url: wsuri,
            realm: "realm1"
        });
   
         connection.onopen = function (session, details) {

            console.log("Connected");
            alert("Connected");
            globalSess = session;
			
            function on_webhook (args) {
                                console.log("on_webhook received: " +args[0].body);
                            //var webhookObj = JSON.parse(args[0]);
                                $scope.mystr = args[0].body;      
                                console.log("on_webhook()"+$scope.yourname);  
            }

            session.subscribe('com.myapp.topic1', on_webhook).then(
               function (sub) {
                  console.log('subscribed to topic');
               },
               function (err) {
                  console.log('failed to subscribe to topic', err);
               }
            );

			function on_android (args) {
                console.log("on_webhook received: " +args[0].body);
            }
            session.subscribe('com.android.topic', on_android).then(
               function (sub) {
                  console.log('subscribed  android. to topic');
               },
               function (err) {
                  console.log('failed to subscribe android to topic', err);
               }
            );

			
			function time (args) {
               var x = args[0];
               console.log("time() called with " + x);
			   //alert("time");
               return "frankie hahah";
            }
            session.register('com.example.time', time).then(
               function (reg) {
                  console.log('procedure registered, time');
				  
               },
               function (err) {
                  console.log('failed to register procedure time', err);
               }
            );
			
			
            t1 = setInterval(function () {
               session.publish('com.example.onhello', ['Hello from JavaScript (browser)']);
               console.log("published to topic 'com.example.onhello'");
            }, 30000);
		}
		
		connection.onclose = function (reason, details) {
			console.log("Connection lost: " + reason);
            alert("Connection lost: " + reason);
            if (t1) {
               clearInterval(t1);
               t1 = null;
            }
         }

        connection.open();
                 
        $scope.send = function() {
            console.log("ready to send: "+$scope.yourname);  
            globalSess.call('com.note.ping', [$scope.yourname]).then(
                function (res) {
                     console.log("ping() result:", res);
                                         $scope.mystr2 = res;
                                         //showNotification(res);
                },
                function (err) {
                     console.log("ping() click error:", err);
                }
            );
        };

        $scope.lock = function() {
            console.log("ready to lock: ");  
            globalSess.call('com.note.lock').then(
                function (res) {
                     console.log("lock() result:", res);
                                         $scope.mystr3 = res;
                },
                function (err) {
                     console.log("lock() click error:", err);
                }
            );
        };

		$scope.android = function() {
            console.log("ready to android: "); 
						
            globalSess.call('android.map', [$scope.yourname]).then(
                function (res) {
                    console.log("lock() result:", res);
                    $scope.androidstr1 = ""+res.args[0]+" "+res.args[1];
					display(res.args[0], res.args[1]);
					//display(114.40218313236,30.516890016035);
                },
                function (err) {
                     console.log("android() click error:", err);
                }
            );
        };
		
        var updateClock = function() {    
			$scope.clock = new Date(); 
             //console.log("on_counter()"+$scope.yourname);  
        };
		
        var timer = setInterval(function() {    $scope.$apply(updateClock);  }, 3000);  
        updateClock();

		$scope.map1 = function(lng, lat){
            // 百度地图API功能
            var map = new BMap.Map("allmap");    // 创建Map实例114.398581246, 30.514), 22); 
            map.centerAndZoom(new BMap.Point(lng, lat), 22); 
			//初始化地图,设置中心点坐标和地图级别
            map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            }
    });
	
	</script>
          
</head>
    <body>
        
                Console Center:
				<div id="allmap"></div>
        <hr>
       
                <div ng-controller="MyController">
                Hello {{yourname || mystr ||'World'}}!
                <h5>{{ clock }} </h5>
                <h5>{{ mystr }} </h5>
                <h5>{{ mystr2 }} </h5>
                Your name: <input type="text" ng-model="yourname" placeholder="World">
                <button ng-click="send()"> 发送</button>
                <h5>{{ mystr3 }}  <button ng-click="lock()"> 锁屏</button></h5>
				</br>
                <h5> <button ng-click="android()"> 安卓测试</button>  {{ androidstr1 }}   </h5>
				<h5> <button ng-click="map1()"> 地图显示</button> </h5>
                </div>
    </body>
</html>