<!doctype html>
<html ng-app="myApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>mqtt</title>	
        <script src="http://cdn.bootcss.com/angular.js/1.4.5/angular.js"></script>
		<script src="http://wh.xiaolei.site/js/mqttws31-min.js"></script>

<script>
	var app = angular.module('myApp', []);
	app.controller('MyController', 
	function($scope) {  
		$scope.rec_msg = "Hi";
		var globalClient;
		var lastTopic = "";
		$scope.pubTopic = "/mytopic";
		
	    // Create a client instance
		var clientId = Math.random().toString(36).substr(2);
		console.log("clientId:"+clientId);
        client = new Paho.MQTT.Client("wh.xiaolei.site", Number(85), clientId);
		
        globalClient = client;
		
        // set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;
        
        // connect the client
        client.connect({onSuccess:onConnect});
        
        // called when the client connects
        function onConnect() {
          // Once a connection has been made, make a subscription and send a message.
          console.log("onConnect");
          client.subscribe("/mytopic");
          message = new Paho.MQTT.Message("Hello");
          message.destinationName = "/mytopic";
          client.send(message); 
        }
        
        // called when the client loses its connection
        function onConnectionLost(responseObject) {
          if (responseObject.errorCode !== 0) {
            console.log("onConnectionLost:"+responseObject.errorMessage);
          }
        }
        
        // called when a message arrives
        function onMessageArrived(message) {
			console.log("onMessageArrived:"+message.payloadString);
		  
			$scope.$apply(function () {
     　　		$scope.rec_msg =  message.payloadString;
			});
		  
        }
			
		$scope.subscribe = function() {
			//console.log("Try to unsubscribe topic: "+lastTopic); 
			//globalClient.unsubscribe(lastTopic);
			
			console.log("Ready to subscribe topic: "+$scope.subTopic); 	
			globalClient.subscribe($scope.subTopic);
		};
		
		
		$scope.send = function() {
			console.log("ready to send:topic="+$scope.pubTopic+" msg="+$scope.msg);  
			
			message = new Paho.MQTT.Message($scope.msg);
            message.destinationName = $scope.pubTopic;
		  
			globalClient.send(message);
		};
		
		$scope.$watch("rec_msg", function(newValue, oldValue) {
			console.log(oldValue + " -> " + newValue);
		});
	});
</script>
	  
</head>
<body>
        
	Console Center:
    <hr>
       		
	<div ng-controller="MyController">
		Hello {{yourname || mystr ||'World'}}!
				
		<h5> 
		    发送主题: <input type="text" ng-model="pubTopic" placeholder="/mytopic">
			<br/>
			发送内容: <input type="text" ng-model="msg" placeholder="msg">
			<button ng-click="send()"> 发送</button>
		</h5>
		
		<hr>
		<h5>
		    订阅主题: <input type="text" ng-model="subTopic" placeholder="/mytopic">
			<button ng-click="subscribe()"> 订阅</button>
		</h5>
		<h5>收到内容：{{ rec_msg }} </h5>		
		
		
	</div>		
    </body>
</html>